@{
    ViewData["Title"] = "Home Page";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

    div.desc {
        padding: 15px;
        text-align: center;
    }
</style>

<button class="w3-button w3-right w3-gray"> CONFIG &raquo;</button>

<button class="w3-button w3-right w3-blue"> DISC &raquo;</button>

<button class="w3-button w3-right w3-yellow"> VIP &raquo;</button>

<HR>

<div class="gallery">
    <a target="_blank" href="\Users\Joelo\Source\Repos\CJC.P1\cjcp1\CjcP1\wwwroot\images\Corazon-t15737.jpg">
        <imput type="image" src="\Users\Joelo\Source\Repos\CJC.P1\cjcp1\CjcP1\wwwroot\images\Corazon-t15737.jpg"
               alt="imagen de cardiologia" width="300" height="200">
    </a>
    <div class="desc"><h3>Cardiologia</h3></div>
</div>
